:root {
  --primary-100: #8cb369;
  --primary-200: #70964e;
  --primary-300: #305612;
  --accent-100: #f2e9e4;
  --accent-200: #8f8783;
  --text-100: #4c4c4c;
  --text-200: #787878;
  --bg-100: #d1ead3;
  --bg-200: #c7e0c9;
  --bg-300: #a0b8a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-300); /* Updated to darker background */
  font-family: "Quicksand", sans-serif;
  color: var(--text-100); /* Updated */
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-100%, -50%);
  transition: 0.2s;
}

.question-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transition: 0.2s;
}
.tenor-gif-embed {
  height: 15rem;
  pointer-events: none;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.question {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.btn {
  position: absolute;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--primary-100); /* Updated */
  color: var(--accent-100); /* Updated */
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(140, 179, 105, 0.5); /* Updated */
}
.btn:hover {
  background-color: var(--primary-200); /* Updated */
  transform: scale(1.1);
  box-shadow: 0px 6px 20px rgba(112, 150, 78, 0.7); /* Updated */
  text-shadow: 1px 1px 5px rgba(112, 150, 78, 0.8); /* Updated */
}

.yes-btn {
  right: 54%;
}
.no-btn {
  left: 54%;
}

.result-container {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-100%, -50%);
  transition: 0.2s;
}
.gif-result {
  border-radius: 10px;
  margin-bottom: 2rem;
}
.result-container h2 {
  font-size: 3.2rem;
  text-align: center;
  color: var(--primary-300); /* Updated */
}
.cssload-heartL,
.cssload-heartR,
.cssload-square {
  border: 1px solid var(--primary-300); /* Updated */
  background-color: var(--primary-300); /* Updated */
}
.cssload-shadow {
  background-color: var(--primary-200); /* Updated */
  border: 1px solid var(--primary-200); /* Updated */
}
